{{define "sdkClientFile"}}
package {{.PackageName}}

import (
	"bytes"
  "context"
  "encoding/json"
  "io"
  "net/http"
  "time"
)

const ClientVersion = "{{.ClientVersion}}"

type {{.ClientName}}ErrorReason string

const (
  // Network/Timeout
  ReasonTransport {{.ClientName}}ErrorReason = "transport"

  // Marshal/Unmarshal
  ReasonEncoding {{.ClientName}}ErrorReason = "encoding"

  // Non-Spec Response
  ReasonUnexpected {{.ClientName}}ErrorReason = "unexpected"
)

type {{.ClientName}}Error struct {
  // Reason is the "Actionable" category
  Reason  {{.ClientName}}ErrorReason
  // Message is the human-readable "what happened"
  Message string
  // Err is the underlying cause (net.Conn, json.SyntaxError, etc.)
  Err     error
}

func (e *{{.ClientName}}Error) Error() string {
  return fmt.Sprintf("%s_error: %s: %v", e.Reason, e.Message, e.Err)
}

type {{.ClientName}} struct {
	httpClient *http.Client
	baseURL    string
}

func New{{.ClientName}}(baseURL string) *{{.ClientName}} {
  return &{{.ClientName}}{
    httpClient: &http.Client{Timeout: 30 * time.Second},
    baseURL:    baseURL,
  }
}

func New{{.ClientName}}WithHTTPClient(baseURL string, httpClient *http.Client) *{{.ClientName}} {
  return &{{.ClientName}}{
    httpClient: httpClient,
    baseURL:    baseURL,
  }
}

func (c *{{.ClientName}}) do(ctx context.Context, req *http.Request) (*http.Response, error) {
  if req.Header.Get("Accept") == "" {
    req.Header.Set("Accept", "application/json")
  }
  req.Header.Set("User-Agent", "{{.ClientName}}-GoSDK/{{.ClientVersion}}")
  return c.httpClient.Do(req.WithContext(ctx))
}

{{$clientName := .ClientName}}
{{range .Endpoints}}
{{$resultTypeName := printf "%sResult" .Name}}
{{$zeroReturnVal := printf "%s{}" $resultTypeName}}

{{range.Request.Responses}}
{{if not (or .Headers (or .ResponseBodyName .RawBody))}}
{{if .Description}}
// {{.Description}}{{end}}
//
// {{.Name}} is a status-code only response.
{{- end}}
{{- end}}
type {{$resultTypeName}} struct {
  {{range .Request.Responses}}
  {{if or .Headers (or .ResponseBodyName .RawBody)}}
  {{if .Description}}
  // {{.Description}}{{end}}
  Response{{.StatusCode}} *{{.Name}}
  {{end}}
  {{end}}
  StatusCode int

  // The raw http.Response for non-spec responses (e.g. 502 NGINX Error) that don't have a defined response body or headers in the spec. This allows callers to inspect the full response for debugging or error handling purposes.
  //
  // The client will only populate this field for responses that don't match any of the defined status codes in the spec.
  // 
  // Callers should check the StatusCode field to determine if the response was a known spec response or an unknown response, and handle accordingly.
  //
  // Callers MUST CLOSE THE BODY of this response when done inspecting it to avoid resource leaks.
  UnknownResponse *http.Response
}

{{if .Request.RawBody}}
// NOTE: This endpoint has RawBody set to true, so the request body will not be handled by the generated client.
//
// Instead, the generated client function will have an additional parameter rawBody of type io.Reader, which will be the responsibility of the caller to read from and set the appropriate Content-Type header for the request.
{{end}}
func (c *{{$clientName}}) {{.Name}}(ctx context.Context, params *{{.Request.Name}}{{if .Request.RawBody}}, rawBody io.Reader{{end}}) ({{$resultTypeName}}, *{{$clientName}}Error) {
  var body io.Reader
  {{if .Request.RequestBodyName}}
  bodyBytes, err := json.Marshal(params.Body)
  if err != nil {
    return {{$zeroReturnVal}}, &{{$clientName}}Error{
      Reason: ReasonEncoding,
      Message: "failed to marshal request body",
      Err: err,
    }
  }
  body = bytes.NewReader(bodyBytes)
  {{else if  .Request.RawBody}}
  body = rawBody
  {{end}}
  path := "{{.Request.Path}}"
  {{range .Request.PathParams}}
  pathParam{{.Name}}, err := paramToString(params.{{.Name}}, "path parameter: {{.Name}}", "{{if not .Required}}*{{end}}{{.Type}}", {{.Required}})
  if err != nil {
    return {{$zeroReturnVal}}, &{{$clientName}}Error{
      Reason: ReasonEncoding,
      Message: "invalid path parameter {{.TransportName}}",
      Err: err,
    }
  }
  path = strings.ReplaceAll(path, "{{printf "{%s}" .TransportName}}", pathParam{{.Name}})
  {{end}}
  req, err := http.NewRequestWithContext(
    ctx,
    "{{.Request.Method}}",
    c.baseURL+path,
    body,
  )
  if err != nil {
    return {{$zeroReturnVal}}, &{{$clientName}}Error{
      Reason: ReasonTransport,
      Message: "failed to create HTTP request",
      Err: err,
    }
  }

  {{if .Request.RequestBodyName}}req.Header.Set("Content-Type", "application/json"){{end}}
  {{range .Request.HeaderParams}}
  header{{.Name}}, err  := paramToString(params.{{.Name}}, "header parameter: {{.Name}}", "{{if not .Required}}*{{end}}{{.Type}}", {{.Required}})
  if err != nil {
    return {{$zeroReturnVal}}, &{{$clientName}}Error{
      Reason: ReasonEncoding,
      Message: "invalid header parameter {{.TransportName}}",
      Err: err,
    }
  }
  req.Header.Set("{{.TransportName}}", header{{.Name}})
  {{end}}
  {{if .Request.AuthAll}}
  {{range .Request.AuthAll}}
  {{if eq .Type "header"}}
  auth{{.Name}}, err := paramToString(params.{{.Name}}Auth, "auth parameter: {{.Name}}", "string", true)
  if err != nil {
    return {{$zeroReturnVal}}, &{{$clientName}}Error{
      Reason: ReasonEncoding,
      Message: "invalid auth parameter {{.TransportName}}",
      Err: err,
    }
  }
  req.Header.Set("{{.TransportName}}", auth{{.Name}})
  {{end}}
  {{end}}
  {{end}}
  
  {{if .Request.AuthAny}}
  numAuthParamsSet := 0
  {{range .Request.AuthAny}}
  {{if eq .Type "header"}}
  auth{{.Name}}, err := paramToString(params.{{.Name}}Auth, "auth parameter: {{.Name}}", "*string", true)
  if err == nil {
    numAuthParamsSet++
    req.Header.Set("{{.TransportName}}", auth{{.Name}})
  }
  {{end}}
  {{end}}
  if numAuthParamsSet != 1 {
    return {{$zeroReturnVal}}, &{{$clientName}}Error{
      Reason: ReasonEncoding,
      Message: fmt.Sprintf("exactly 1 auth parameter must be set, but %d were set", numAuthParamsSet),
      Err: nil,
    }
  }
  {{end}}
  {{if .Request.QueryParams}}
  q := req.URL.Query()
  {{range .Request.QueryParams}}
  query{{.Name}}, err := paramToString(params.{{.Name}}, "query parameter: {{.Name}}", "{{if not .Required}}*{{end}}{{.Type}}", {{.Required}})
  if err != nil {
    return {{$zeroReturnVal}}, &{{$clientName}}Error{
      Reason: ReasonEncoding,
      Message: "invalid query parameter {{.TransportName}}",
      Err: err,
    }
  }
  q.Set("{{.TransportName}}", query{{.Name}})
  {{end}}
  req.URL.RawQuery = q.Encode()
  {{end}}
  resp, err := c.do(ctx, req)
  if err != nil {
    return {{$zeroReturnVal}}, &{{$clientName}}Error{
      Reason: ReasonTransport,
      Message: "HTTP request failed",
      Err: err,
    }
  }
  response := {{$resultTypeName}}{
    StatusCode: resp.StatusCode,
  }
  switch resp.StatusCode {
    {{range .Request.Responses}}
    case {{.StatusCode}}:
      {{if or .Headers (or .ResponseBodyName .RawBody)}}
      parsedResp, err := Parse{{.Name}}(resp)
      if err != nil {
        response.UnknownResponse = resp
        return response, &{{$clientName}}Error{
          Reason: ReasonUnexpected,
          Message: fmt.Sprintf("failed to parse response for status code %d", {{.StatusCode}}),
          Err: err,
        }
      }
      response.Response{{.StatusCode}} = parsedResp
      return response, nil
      {{else}}
      // No response body or headers to parse for this status code
      return response, nil
      {{end}}
    {{end}}
    default:
      response.UnknownResponse = resp
      return response, nil
  }
}
{{end}}
{{end}}