{{define "sdkTypesFile"}}

package {{.PackageName}}

import (
  "encoding/json"
	"fmt"
  "net/http"
  "strconv"
  "strings"
)

// Auth method keys, if any
{{range .AuthMethods}}
const {{.Name}}AuthKey = "{{.TransportName}}"
{{end}}

{{if .Types}}
{{template "typeGenerator" .}}
{{end}}
{{end}}