{{define "fieldGenerator"}}
  {{if .Description}}// {{.Description}}
  //{{end}}
  {{if .Required}}// Required
  //{{else}}// Optional
  //{{end}}{{if .NonEmpty}}
  // Must be non-empty{{end}}
  {{.Name}} {{if .PtrType}}*{{end}}{{if .IsArray}}[]{{end}}{{.Type}} `{{.Tag}}`
{{end}}