{{define "fieldGenerator"}}
  /**
  * {{if .Description}}{{.Description}}{{else}}No description provided{{end}}
  * {{if .Required}}Required{{else}}Optional{{end}}
  * {{if .NonEmpty}} Must be non-empty{{end}}
  */
  {{.Name}}{{if and (not .Required) (not .IsArray)}}?{{end}}: {{if or (eq .Type "integer") (eq .Type "double")}}number{{else}}{{.Type}}{{end}};
{{end}}