{{define "models.ts"}}
{{$clientName := .ClientName}}

/**
 * {{$clientName}}Error is a custom error class that encapsulates different types of errors that can occur when using the {{$clientName}} client. It includes a reason for the error, a message, and optionally the underlying error object for more detailed debugging information.
 */
export class {{$clientName}}Error extends Error {
  reason: {{$clientName}}ErrorReason;
  error?: Error; // Optional field to hold the original error object, if available

  constructor(reason: {{$clientName}}ErrorReason, message: string, error?: Error) {
    super(message);
    this.reason = reason;
    this.error = error;
    if (error) {
      this.stack = error.stack; // Preserve original stack trace if available
    }
  }
}

export type {{$clientName}}ErrorReason =
  | "transport"
  | "encoding"
  | "unexpected";

/** Network/Timeout */
export const ReasonTransport = "transport";

/** Marshal/Unmarshal */
export const ReasonEncoding = "encoding";

/** Non-Spec Response */
export const ReasonUnexpected = "unexpected";

{{if .Types}}
{{template "typeGenerator" .}}
{{end}}

{{range .Requests}}
const {{.Name}}HTTPMethod = "{{.Method}}";
const {{.Name}}RoutePath = "{{.Path}}";

{{if .Description}}
/**
 * {{.Description}}
 */
{{end}}
export type {{.Name}} = {
{{range .PathParams}}
  /**
  * Source: path parameter "{{printf "{%s}" .TransportName}}"
  {{template "paramGenerator" .}}
{{end}}
{{range .QueryParams}}
  /**
  * Source: query parameter "{{.TransportName}}"
  {{template "paramGenerator" .}}
{{end}}
{{range .HeaderParams}}
  /**
  * Source: header parameter "{{.TransportName}}"
  {{template "paramGenerator" .}}
{{end}}
{{if .AuthAll}}
  // Authentication parameters (all required)
  {{range .AuthAll}}
  /**
  * Required Authentication Method
  * Source: {{.Type}} "{{.TransportName}}"
  * {{if .Description}} Description: {{.Description}} {{end}}
  * {{if .Format}} Format (NOT ENFORCED): {{.Format}} {{end}}
  */
  {{.Name}}Auth: string;
  {{end}}
{{end}}
{{if .AuthAny}}
  // Authentication parameters (at least one required)
  {{range .AuthAny}}
  /**
  * Source: {{.Type}} "{{.TransportName}}"
  * {{if .Description}} Description: {{.Description}} {{end}}
  * {{if .Format}} Format (NOT ENFORCED): {{.Format}} {{end}}
  */
  {{.Name}}Auth?: string;
  {{end}}
{{end}}
{{if .RequestBodyName}}
  /**
  * Request body
  */
  Body: {{.RequestBodyName}};
{{end}}
};

{{range .Responses}}
{{if or .Headers (or .ResponseBodyName .RawBody)}}
export type {{.Name}} = {
  {{range .Headers}}
  /**
  * Source: header parameter "{{.TransportName}}"
  {{template "paramGenerator" .}}
  {{end}}

  {{if .ResponseBodyName}}
  /**
  * Response body
  */
  Body: {{.ResponseBodyName}};
  {{else if .RawBody}}
  /**
  * Raw response */
  RawBody: Response;
  {{end}}
};

export async function Parse{{.Name}}(resp: Response): Promise<{{.Name}}> {
  var result = {} as {{.Name}};
  {{range .Headers}}
  result.{{.Name}} = parse{{.Type}}Param(resp.headers.get("{{.TransportName}}"), "header: {{.TransportName}}", {{.Required}}){{if .Required}}!{{end}};
  {{end}}
  {{if .ResponseBodyName}}
  // Attempt to parse response body as JSON
  return resp.json().then(
    body => {
      result.Body = body as {{.ResponseBodyName}};
      return result;
    },
    err => {
      throw new {{$clientName}}Error(ReasonUnexpected, "Error parsing response body for {{.Name}}");
    }
  );
  {{else if .RawBody}}
  result.RawBody = resp;
  return result;
  {{end}}
}
{{else}}
// {{.Name}} response has no headers or body
{{if .Description}}// {{.Description}}{{end}}
{{end}}
{{end}}
{{end}}

function parsedoubleParam(value: string | null, name: string, required: boolean): number | undefined {
  if (required && (value === null || value.trim() === "")) {
    throw new Error(`Missing required number parameter: ${name}`);
  }
  if (value === null || value.trim() === "") {
    return undefined; // return default value
  }
  const parsed = parseFloat(value);
  if (isNaN(parsed)) {
    throw new Error(`Failed to parse number parameter: ${value}`);
  }
  return parsed;
}

function parseintegerParam(value: string | null, name: string, required: boolean): number | undefined {
  if (required && (value === null || value.trim() === "")) {
    throw new Error(`Missing required number parameter: ${name}`);
  }
  if (value === null || value.trim() === "") {
    return undefined; // return default value
  }
  const parsed = parseInt(value);
  if (isNaN(parsed)) {
    throw new Error(`Failed to parse number parameter: ${value}`);
  }
  return parsed;
}

function parsebooleanParam(value: string | null, name: string, required: boolean): boolean | undefined {
  if (required && (value === null || value.trim() === "")) {
    throw new Error(`Missing required boolean parameter: ${name}`);
  }
  if (value === null || value.trim() === "") {
    return undefined; // return default value
  }
  if (value.toLowerCase() === "true") {
    return true;
  } else if (value.toLowerCase() === "false") {
    return false;
  } else {
    throw new Error(`Failed to parse boolean parameter: ${value}`);
  }
}

function parsestringParam(value: string | null, name: string, required: boolean): string | undefined {
  if (required && (value === null || value.trim() === "")) {
    throw new Error(`Missing required string parameter: ${name}`);
  }
  if (value === null || value.trim() === "") {
    return undefined; // return default value
  }
  return value;
}
{{end}}