{{define "paramGenerator"}}
  * {{if .Description}}{{.Description}}{{else}}No description provided.{{end}}
  * 
  * {{if .Required}}Required{{else}}Optional{{end}}
  */
  {{.Name}}{{if not .Required}}?{{end}}: {{if or (eq .Type "integer") (eq .Type "double")}}number{{else}}{{.Type}}{{end}};
{{end}}