{{define "responseGenerator"}}
export type {{.Name}} = {
  {{range .Headers}}
  // Destination: header "{{.TransportName}}"
  //
  {{template "paramGenerator" .}}

  {{end}}

  {{if .ResponseBodyName}}
  // Response body
  Body: {{.ResponseBodyName}};
  {{end}}
}

{{range .SupportingTypes}}
{{template "typeGenerator" .}}
{{end}}
{{end}}